.navbar {
    height: 75px;
    background-color: #031017;
    display: flex;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
}

.navbar-logo {
    margin-right: 5px;
}

.navbar-onlipinion {
    margin-right: 30px;
    color: #3CA6A6;
    font-size: 30px;
    font-family: 'Ubuntu';
    font-weight: bold;
}

.navbar-categorias {
    margin-right: 30px;
    color: #F2E3D5;
    font-size: 10px;
    font-family: 'Ubuntu';
    font-weight: bold;
}

.navbar-recomendacoes {
    margin-right: 30px;
    color: #F2E3D5;
    font-size: 10px;
    font-family: 'Ubuntu';
    font-weight: bold;
}

.navbar-sobre {
    margin-right: 30px;
    color: #F2E3D5;
    font-size: 10px;
    font-family: 'Ubuntu';
    font-weight: bold;
}

.navbar-contato {
    margin-right: 30px;
    color: #F2E3D5;
    font-size: 10px;
    font-family: 'Ubuntu';
    font-weight: bold;
}

.botao-login {
    color: #F2E3D5;
    background-color: #3CA6A6;
    border-radius: 100px;
    height: 25px;
    width: 80px;
    margin-right: 30px;
    text-align: center;
    border: 0;
    font-size: 10px;
    font-family: 'Ubuntu';
    font-weight: bold;
}

.navbar-barra-pesquisa {
    font-size: 12px;
    color: #F2E3D5;
    text-align: left;
    padding-left: 10px;
    padding-right: 30px;
    height: 20px;
    width: 200px;
    border-radius: 100px;
    border-color: #F2E3D5;
    background-color: transparent;
}