.background {
  height: 100%;
  width: 100%;
  display: flex;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
}

.background-navbar {
  display: flex;
  background-size: cover;
  background-position: center;
  background-color: #031017;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.center {
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.banner {
  background-image: url('../../../../public/assets/images/Fundo1.png');
  flex-direction: column;
}

.background-white {
  background-color: #551515;
}

.background-white-footer {
  background-color: #FFFFFF;
}