.button-login {
    height: 30px;
    cursor: pointer;
    border-radius: 100px;
    border: 0 solid #F2E3D5;
    background-color: #3CA6A6;
    display: flex;
    align-items: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-left: 15px;
    margin-right:15px ;
    text-align: center;
    font-size: 10px;
    font-weight: bold;
    justify-content: center;
    text-transform: uppercase;
    color: #F2E3D5;
    font-family: 'Ubuntu';
    padding: 10px;
}

@media (max-width: 1000px) {
    .button-login {
        display: none;
    }
}

.button-register-products {
    height: 30px;
    cursor: pointer;
    border-radius: 100px;
    border: 0 solid #F2E3D5;
    background-color: #3CA6A6;
    display: flex;
    align-items: center;
    justify-content: center; /* Adicione esta linha para centralizar o texto horizontalmente */
    padding: 10px;
    font-size: 10px;
    color: #F2E3D5;
    font-weight: bold;
    text-align: center;
    font-family: 'Ubuntu';
    text-transform: uppercase;
    white-space: nowrap; /* Adicione esta linha */
    flex-wrap: nowrap; /* Adicione esta linha */
    text-overflow: ellipsis;
}

.button-reviews {
    height: 30px;
    cursor: pointer;
    border-radius: 100px;
    border: 0 solid #F2E3D5;
    background-color: #3CA6A6;
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: center; /* Adicione esta linha para centralizar o texto horizontalmente */
    font-size: 10px;
    color: #F2E3D5;
    font-weight: bold;
    text-align: center;
    font-family: 'Ubuntu';
    text-transform: uppercase;
    white-space: nowrap; /* Adicione esta linha */
    flex-wrap: nowrap; /* Adicione esta linha */
}

.button-area-header {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    flex-direction: row;
    justify-content: flex-start;
}

@media (max-width: 800px) {
    .button-area-header {
        display: flex;
        align-items: center;
        height: 100%;
        width: 100%;
        flex-direction: row;
        justify-content: center;
    }
}



.button-area-banner {
    width: 100%;
    height: 30px;
    margin-left: 60px;
    margin-top: 15px;
    display: block;
    margin-bottom: 0;
    padding-bottom: 0;
}

.button-area-footer {
    width: 100%px;
    height: 33px;
}

.button-send {
    width: 100%;
    height: 30px;
    font-size: 10px;
    cursor: pointer;
    color: #F2E3D5;
    font-weight: bold;
    text-align: center;
    border-radius: 100px;
    font-family: 'Ubuntu';
    text-transform: uppercase;
    border: 0 solid #F2E3D5;
    background-color: #3CA6A6;
    margin-bottom: 10px;
    margin-top: 10px;
}

.button-scroll-to-top {
    cursor: pointer;
    border: 0 solid #F2E3D5;
    align-items: center;
    justify-content: center;
    display: flex;
    background: transparent;
}

.button-logo-scroll-to-top {
    cursor: pointer;
    border: 0 solid #F2E3D5;
    align-items: center;
    justify-content: center;
    display: flex;
    background: transparent;
}

.button-instagram-scroll-to-top {
    cursor: pointer;
    border: 0 solid #F2E3D5;
    align-items: center;
    justify-content: center;
    display: flex;
    background: transparent;
}

.button-instagram-logo-scroll-to-top {
    cursor: pointer;
    border: 0 solid #F2E3D5;
    align-items: center;
    justify-content: center;
    display: flex;
    background: transparent;
}